{% extends "default/module.html.jinja2" %}
{% block title %}{{ module.modulename }} API documentation{% endblock %}
{% block nav %}
    {% block module_list_link %}
        {% set parentmodule = ".".join(module.modulename.split(".")[:-1]) %}
        {% if parentmodule and parentmodule in all_modules %}
            <a class="pdoc-button module-list-button" href="../{{ parentmodule.split(".")[-1] }}.html">
                {% include "resources/box-arrow-in-left.svg" %}
                &nbsp;
                {{- parentmodule -}}
            </a>
        {% elif not root_module_name %}
            <a class="pdoc-button module-list-button" href="{{ "../" * module.modulename.count(".") }}vessim.html">
                {% include "resources/box-arrow-in-left.svg" %}
                &nbsp;
                Overview
            </a>
        {% endif %}
    {% endblock %}

    {% block nav_title %}
        {% if logo %}
            {% if logo_link %}<a href="{{ logo_link }}">{% endif %}
            <img src="{{ logo }}" class="logo" alt="project logo"/>
            {% if logo_link %}</a>{% endif %}
        {% endif %}
    {% endblock %}

    {% block search_box %}
        {% if search and all_modules|length > 1 %}
            {# we set a pattern here so that we can use the :valid CSS selector #}
            <input type="search" placeholder="Search..." role="searchbox" aria-label="search"
                   pattern=".+" required>
        {% endif %}
    {% endblock %}

    {% block nav_index %}
        {% set index = module.docstring | to_markdown | to_html | attr("toc_html") %}
        {% if index %}
            <h2><a href="vessim.html">Overview</a></h2>
            {{ index | safe }}
        {% endif %}
    {% endblock %}

    {% block nav_submodules %}
            {% if module.submodules %}
                <h2>Intro to Vessim</h2>
                    <ul>
                        <li><a href="Concept.html">Concept</a></li>
                        <li><a href="Installation.html">Installation</a></li>
                        <li><a href="Getting Started.html">Getting Started</a></li>
                    </ul>
            {% endif %}
            {% for submodule in module.submodules if is_public(submodule) | trim%}
                    {% if submodule.name == "analysis" %}
                        <h2>Utility Modules</h2>
                        <ul>
                            <li>{{ submodule.taken_from | link(text="Analysis") }}</li>
                            {% for file in ['cosim_example', 'sil_example'] %}
                                <li><a href="{{ file }}.html">{{ file }}</a></li>
                            {% endfor %}
                        </ul>
                    {% elif submodule.name == "cosim" %}
                        <h2><a href="cosimulation.html">Co-simulation</a></h2>
                    {% elif submodule.name == "sil" %}
                        <h2><a href="softwareintheloop.html">Software-in-the-loop</a></h2>
                    {% endif %}
            {% endfor %}
            {% if module.submodules %}
                    <h2>API Documentation</h2>
                    <ul>
                        {% for submodule in module.submodules if is_public(submodule) | trim %}
                            <li>{{ submodule.taken_from | link(text=submodule.name) }}</li>
                        {% endfor %}
                    </ul>
                    <h2><a href="About Vessim.html">About Vessim</a></h2>
            {% endif %}
    {% endblock %}

    {% block nav_members %}
        {% if module.members %}
            <h2>API Documentation</h2>
            {{ nav_members(module.members.values()) }}
        {% endif %}
    {% endblock %}

    {% block nav_footer %}
        {% if footer_text %}
            <footer>{{ footer_text }}</footer>
        {% endif %}
    {% endblock %}

    {% block attribution %}
        <a class="attribution" title="pdoc: Python API documentation generator" href="https://pdoc.dev" target="_blank">
            built with <span class="visually-hidden">pdoc</span><img
                alt="pdoc logo"
                src="data:image/svg+xml,
                        {%- filter urlencode %}{% include "resources/pdoc-logo.svg" %}{% endfilter %}"/>
        </a>
    {% endblock %}
{% endblock nav %}
{% block content %}
    <main class="pdoc">
        {% block module_info %}
            <section class="module-info">
                {% block edit_button %}
                    {% if edit_url %}
                        {% if "github.com" in edit_url %}
                            {% set edit_text = "Edit on GitHub" %}
                        {% elif "gitlab" in edit_url %}
                            {% set edit_text = "Edit on GitLab" %}
                        {% else %}
                            {% set edit_text = "Edit Source" %}
                        {% endif %}
                        <a class="pdoc-button git-button" href="{{ edit_url }}">{{ edit_text }}</a>
                    {% endif %}
                {% endblock %}
                {{ module_name() }}
                {{ docstring(module) }}
                {{ view_source_state(module) }}
                {{ view_source_button(module) }}
                {{ view_source_code(module) }}
            </section>
        {% endblock %}
        {% block module_contents %}
            {% for m in module.flattened_own_members if is_public(m) | trim %}
                <section id="{{ m.qualname or m.name }}">
                    {{ member(m) }}
                    {% if m.kind == "class" %}
                        {% for m in m.own_members if m.kind != "class" and is_public(m) | trim %}
                            <div id="{{ m.qualname }}" class="classattr">
                                {{ member(m) }}
                            </div>
                        {% endfor %}
                        {% set inherited_members = inherited(m) | trim %}
                        {% if inherited_members %}
                            <div class="inherited">
                                <h5>Inherited Members</h5>
                                <dl>
                                    {{ inherited_members }}
                                </dl>
                            </div>
                        {% endif %}
                    {% endif %}
                </section>
            {% endfor %}
        {% endblock %}
    </main>
    {% if mtime %}
        {% include "livereload.html.jinja2" %}
    {% endif %}
    {% block search_js %}
        {% if search and all_modules|length > 1 %}
            {% include "search.html.jinja2" %}
        {% endif %}
    {% endblock %}
{% endblock content %}
