# general
pandas
numpy

# analysis
jupyterlab
matplotlib
seaborn==0.12.2

# database
uvicorn
fastapi

# core
mosaik
mosaik-api
mosaik-csv
mosaik-pandapower
# mosaik-hdf5
# mosaik-web
# NREL-PySAM

# custom
# boto3  # used in AwsPowerMeter

# testing
pytest

# typechecking
mypy
types-psutil
pandas-stubs
types-requests

# linting
black
ruff

# build
flit
