# general
pandas
numpy

# analysis
jupyterlab
matplotlib==3.6
seaborn==0.12.2

# core
mosaik
mosaik-api
mosaik-csv
mosaik-pandapower
# mosaik-hdf5
# mosaik-web
# NREL-PySAM

# custom
# boto3  # used in AwsPowerMeter

# raspberry pi INA219 power meter
pi-ina219
